@import "../../utility/styles/var.module";
.search{
 @include widthAndHeight(25%,100%);
 display: flex;
 justify-content: flex-end;
 position: relative;
}
.search__content{
 @include widthAndHeight(85%,100%);
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.search__form{
 display: flex;
 //position: relative;
 @include widthAndHeight(100%,50%);
}
.search__input{
 @include widthAndHeight(100%,100%);
 border-radius: 5px;
 font-size: 24px;
 font-weight: 400;
 padding: 7px;
 background: #333333;
 color: $color-white;
}
.search__button{
 font-size: 24px;
 padding: 0 5px;
 background: none;
 color: white;
 position: absolute;
 right: -10%;
 top: 40%;
}
.search__results{
 @include widthAndHeight(85%,300%);
 position: absolute;
 background: #1f1f1f;
 bottom: -285%;
 border-radius: 5px;
 padding: 7px;
 overflow: auto;
}
