.footer{

}
.footer__row{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  background: #141414;
  height: 13vh;
  flex: 0 0 auto;
}
.footer__logo{
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.footer__logo_blue{
  color: #005381;
}
.footer__nav{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.footer__nav a{
  color: #f4f3e8;
}
.footer__year{
  color: white;
}
